USE [ETLDB]
GO
ALTER TABLE [dbo].[Matricula] DROP CONSTRAINT [FK_Matricula_Paralelo]
GO
ALTER TABLE [dbo].[Matricula] DROP CONSTRAINT [FK_Matricula_Materia]
GO
ALTER TABLE [dbo].[Matricula] DROP CONSTRAINT [FK_Matricula_Jornada]
GO
ALTER TABLE [dbo].[Matricula] DROP CONSTRAINT [FK_Matricula_Curso]
GO
ALTER TABLE [dbo].[Estudiante] DROP CONSTRAINT [FK_Estudiante_Matricula]
GO
ALTER TABLE [dbo].[Asistencia] DROP CONSTRAINT [FK_Asistencia_Paralelo]
GO
ALTER TABLE [dbo].[Asistencia] DROP CONSTRAINT [FK_Asistencia_Jornada]
GO
ALTER TABLE [dbo].[Asistencia] DROP CONSTRAINT [FK_Asistencia_Estudiante]
GO
ALTER TABLE [dbo].[Asistencia] DROP CONSTRAINT [FK_Asistencia_Asignatura]
GO
/****** Object:  Table [dbo].[Paralelo]    Script Date: 26/8/2025 23:31:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Paralelo]') AND type in (N'U'))
DROP TABLE [dbo].[Paralelo]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 26/8/2025 23:31:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Matricula]') AND type in (N'U'))
DROP TABLE [dbo].[Matricula]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 26/8/2025 23:31:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Materia]') AND type in (N'U'))
DROP TABLE [dbo].[Materia]
GO
/****** Object:  Table [dbo].[Jornada]    Script Date: 26/8/2025 23:31:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Jornada]') AND type in (N'U'))
DROP TABLE [dbo].[Jornada]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 26/8/2025 23:31:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Estudiante]') AND type in (N'U'))
DROP TABLE [dbo].[Estudiante]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 26/8/2025 23:31:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Curso]') AND type in (N'U'))
DROP TABLE [dbo].[Curso]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 26/8/2025 23:31:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Asistencia]') AND type in (N'U'))
DROP TABLE [dbo].[Asistencia]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 26/8/2025 23:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asistencia](
	[IdAsistencia] [int] NOT NULL,
	[IdEstudiante] [int] NOT NULL,
	[IdAsignatura] [int] NOT NULL,
	[IdJornada] [int] NOT NULL,
	[IdParalelo] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[NumeroDeHoras] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 26/8/2025 23:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[IdCurso] [int] NOT NULL,
	[DescripcionCurso] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 26/8/2025 23:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[IdEstudiante] [int] NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
	[Celular] [varchar](15) NULL,
	[IdMatricula] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jornada]    Script Date: 26/8/2025 23:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jornada](
	[IdJornada] [int] NOT NULL,
	[DescripcionJornada] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdJornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 26/8/2025 23:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[IdAsignatura] [int] NOT NULL,
	[DescripcionAsignatura] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAsignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 26/8/2025 23:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[IdMatricula] [int] NOT NULL,
	[IdCurso] [int] NOT NULL,
	[IdParalelo] [int] NOT NULL,
	[IdJornada] [int] NOT NULL,
	[IdAsignatura] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paralelo]    Script Date: 26/8/2025 23:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paralelo](
	[IdParalelo] [int] NOT NULL,
	[DescripcionParalelo] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdParalelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_Asistencia_Asignatura] FOREIGN KEY([IdAsignatura])
REFERENCES [dbo].[Materia] ([IdAsignatura])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_Asistencia_Asignatura]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_Asistencia_Estudiante] FOREIGN KEY([IdEstudiante])
REFERENCES [dbo].[Estudiante] ([IdEstudiante])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_Asistencia_Estudiante]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_Asistencia_Jornada] FOREIGN KEY([IdJornada])
REFERENCES [dbo].[Jornada] ([IdJornada])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_Asistencia_Jornada]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_Asistencia_Paralelo] FOREIGN KEY([IdParalelo])
REFERENCES [dbo].[Paralelo] ([IdParalelo])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [FK_Asistencia_Paralelo]
GO
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD  CONSTRAINT [FK_Estudiante_Matricula] FOREIGN KEY([IdMatricula])
REFERENCES [dbo].[Matricula] ([IdMatricula])
GO
ALTER TABLE [dbo].[Estudiante] CHECK CONSTRAINT [FK_Estudiante_Matricula]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Curso] FOREIGN KEY([IdCurso])
REFERENCES [dbo].[Curso] ([IdCurso])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Curso]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Jornada] FOREIGN KEY([IdJornada])
REFERENCES [dbo].[Jornada] ([IdJornada])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Jornada]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Materia] FOREIGN KEY([IdAsignatura])
REFERENCES [dbo].[Materia] ([IdAsignatura])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Materia]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Paralelo] FOREIGN KEY([IdParalelo])
REFERENCES [dbo].[Paralelo] ([IdParalelo])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Paralelo]
GO
